body{
	display: flex;
	background-color: white;
}
#page{
	position: relative;
	left: 0;
	-webkit-clip-path: polygon(30% 50%, 0 100%, 100% 100%, 100% 0, 100% 0, 0 0);
	clip-path: polygon(30% 50%, 0 100%, 100% 100%, 100% 0, 100% 0,0 0);
	transform: rotate(180deg);
	height: 100vh;
	width: 100vw;
}
#page:before{
	content: '';
	position: absolute;
	background: url("../images/back.png") no-repeat;
	background-size: cover;
	left: 0;
	transform: rotate(-180deg);
	height: 100%;
	width: 100%;
}
#form{
	max-height: 100vh;
	position: relative;
	background-color: white;
	width: 60vw;
	max-width: 60vw;
}
form{
	color: rgb(245,173,37);
	width: 280px;
	max-width: 350px;
	height: 140px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0;
	position: absolute;
	text-align: right;
	top: 40%;
	left: -30%;
	transform: translate(30px, -40%);
	margin-bottom: 0px;
}
.sub{
	position: relative;
	color: white;
	border: none;
	background-color: rgb(245,173,37);
	cursor: pointer;
	border: thin solid rgb(245,173,37);
	border-radius: 5px;
	max-width: 200px;
}
.sub:hover{
	transform: scale(.9);
}
 i{
	position: absolute;
	left: -20px;
	top: 8px;
}
.input-icons{
	position: relative;
	margin-bottom: 10px;
}
.icon{
	padding: 3px;
	color: rgb(245,173,37);
}
.form-control{
	display: block;
	color: black;
	width: 250px;
	font-size: 20px;
	border-width: 0px 0px 2px 0px;
	border-radius: 0px;
	max-width: 300px;
	min-width: 250px;
	background-color: transparent;
}
.form-control:focus{
	box-shadow: none;
	background-color: transparent;

}

@media only screen and (max-device-width: 480px) {
	#image{
		display: none;
	}
	body{
		background-image: url("../images/ypgback.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	#page{
		position: relative;
		max-width: 100%;
		min-width: 50%;
	}
	form{
		transform: translate(-50%, -50%);
	}
}
@media only screen and (max-device-width: 320px) {
	#status span{
		display: block;
	}
}
@media only screen and (max-device-width: 280px) {
	form{
		width: 400px;
		max-width: 90%;
	}
}
